.food-list {
  text-align: left;
  font-size: 25px;

}


.food-box {
  display: flex;
  flex-direction: row;
justify-content: flex-start;
align-content: center;
  text-align: left;
}
/* 
.food-box  .box{

} */

